*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    color: white;
}
.navbar{
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    padding: 10px;
}
.logo{
    float: left;
    
    /* background-color: red; */
}
.logo h1{
    font-size: 18px;
    margin-left: -9px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    text-transform: capitalize
}

.nav{
    background-color: aqua;
    padding: 10px;

}
.nav ul{
    display: flex;
    gap: 40px;
}
.sidenav{
    background-color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    line-height: 0px;
}
.sidenav ul{
    float: right;
    /* margin-right: 40px; */
    /* align-items: center; */
    /* justify-content: center; */
}
.sidenav ul li{
    display: inline-block;
    margin: 0 8px;
    
}