
* {
    box-sizing: border-box;
    }
    
    body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }
    
    .header {
    background-color: #de89be;
    color: #070707;
    top: 0%;
    }
    
    .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: #070707;
    }
    
    .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    
    .header nav ul li {
    float: left;
    margin: 10px, 20px;
    }
    
    .header nav ul li a {
    display: flex;
    padding: 10px ;
    margin: 10px;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    color: #070707;
    }
    
    .header nav ul li a:hover {
    background-color: #fdcff3;
    border-radius: 10px;
    transform: scale(1.12);
    transition: all ease 1s;
    }
    .about{
        width: 100%;
        padding: 100px
        background-col
    }
    .about img{
        height: auto;
        width: 430px;
    }
    .about-text{
        width: 550px;
    } 
    
    
    main {
    width: 1130px; 
    max-width: 80%;  
    display: flex; 
    align-items: center;
    justify-content: space-around;
    background-color: #070707;
    color: #fdcff3;
    padding: 20px;
    }
    
    main .intro {
    height: 500vh;
    padding: 50px 20px;
    text-align: center;
    }
    
    main .intro h1 {
    font-size: 4rem;
    font-weight: 300;
    margin: 100px 0px;
    }
    
    main .intro p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0px 0px 50px 0px;
    
    color: beige;
    }   
    
    main .intro .btn {
    background-color: #fdcff3;
    color: #070707;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    }    
    .Skills{
        background: rgb(46, 46, 46);
        color: #070707;
        width: 100%;
        padding: 100px 0px;
    }
    .title h2{
        color: white;
        font-size: 75px;
        width: 1130px;
        margin: 30px auto;
        text-align: center;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
    .card{
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    .card i{
        font-size: 50px;
        display: block;
        text-align: center;
        margin: 25px 0px;
        color: #de89be;
    }
    h5{
        color: red;
        font-size: 28px;
        margin-bottom: 15px;
    }
    .des p{
        color:yellow;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    .card .button{
        background-color: orangered;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 23px;
        border-radius: 30px;
        transition: 4s;
    }
    .card .button:hover{
        background-color: transparent;
        border: 2px solid purple;
        cursor: pointer;
    
    }
    .Contact{
        width: 100%;
        height: 300px;
        background: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }
    .Contact p{
        color:white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 28px;
    }
    .Contact .button-two{
        background-color: orangered;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 23px;
        border-radius: 30px;
        transition: 4s;
    
    }
    .Contact .button-two:hover{
    
        background-color: transparent;
        border: 2px solid purple;
        cursor: pointer;
    }
    